# 開発用コンテナ群

version: "3.7"
services:
  mlflow:
    image: cfiken/mlflow:0.1
    container_name: mlflow
    command: [
        "mlflow", "server",
        "-h", "0.0.0.0",
        "-p", "5000",
        "--default-artifact-root", "s3://cfiken-kaggle/mlflow",
        "--backend-store-uri", "mysql://${DB_USER}:${DB_PASS}@${DB_HOST}:3306/mlflow"
    ]
    container_name: mlflow
    restart: "no"
    ports:
      - target: 5000
        published: 5000
        protocol: tcp
        mode: host
        #volumes:
        #-
    environment:
      SSH_AUTH_SOCK: /ssh-agent
      VIRTUAL_HOST: "mlflow.cfiken.com"
      VIRTUAL_PORT: 5000
      LETSENCRYPT_HOST: mlflow.cfiken.com
      LETSENCRYPT_EMAIL: cfiken@gmail.com
    tty: true
    stdin_open: true
  nginx-proxy:
    image: nginxproxy/nginx-proxy:latest
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - certs:/etc/nginx/certs
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - /var/run/docker.sock:/tmp/docker.sock:ro
  nginx-proxy-acme:
    image: nginxproxy/acme-companion
    container_name: nginx-proxy-acme
    volumes_from:
      - nginx-proxy
    volumes:
      - certs:/etc/nginx/certs
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      DEFAULT_EMAIL: cfiken@gmail.com

volumes:
  certs:
  html:
  vhost:
  dhparam:
  conf:
